<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daniel's Resort</name>
    <!-- <description>Sample Apache Cordova App</description> -->
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <access origin="https://cordova-hotel-reservation.onrender.com/*"/>
    <access origin="https://cordova-hotel-reservation.onrender.com/*"/>
    <access origin="https://cordova-hotel-reservation.onrender.com/*"/>
    <access origin="https://cordova-hotel-reservation.onrender.com/*"/>

    <platform name="android">
    <allow-intent href="market:*" />
    <icon src="res/images/ldpi.png" density="ldpi" />
    <icon src="res/images/mdpi.png" density="mdpi" />
    <icon src="res/images/hdpi.png" density="hdpi" />
    <icon src="res/images/xhdpi.png" density="xhdpi" />
    <icon src="res/images/xxhdpi.png" density="xxhdpi" />
    <icon src="res/images/xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
